apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "dbcmetrics.fullname" . }}
  labels:
    {{- include "dbcmetrics.labels" . | nindent 4 }}
data:
  dbcm_config.yaml: |
    {{- toYaml .Values.dbcmconfig | nindent 4 }}
