{
    "OP_EMAIL": "{{ OP_EMAIL }}",
    "OP_PASSWORD": "{{ OP_PASSWORD }}",
    "OP_SUBDOMAIN": "{{ OP_SUBDOMAIN }}",
    "OP_SECRET_KEY": "{{ OP_SECRET_KEY }}",
    "OP_2FA_TOKEN": "{{ OP_2FA_TOKEN }}"
}