global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn 	{{ haproxy_maxconn }}
    maxsessrate {{ haproxy_maxsessrate }}
{% if haproxy_maxsslconn is defined %}
    maxsslconn 	{{ haproxy_maxsslconn }}
{% endif %}
{% if haproxy_tune_ssl_cachesize is defined %}
    tune.ssl.cachesize {{ haproxy_tune_ssl_cachesize }}
{% endif %}
{% if haproxy_tune_ssl_default_dh_param is defined %}
    tune.ssl.default-dh-param {{ haproxy_tune_ssl_default_dh_param }}
{% endif %}

    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
    stats timeout 30s

{% if haproxy_ssl_default_bind_ciphers is defined %}
    ssl-default-bind-ciphers {{ haproxy_ssl_default_bind_ciphers }}
{% endif %}
{% if haproxy_ssl_default_bind_options is defined %}
    ssl-default-bind-options {{ haproxy_ssl_default_bind_options }}
{% endif %}
{% if haproxy_ssl_default_server_ciphers is defined %}
    ssl-default-server-ciphers {{ haproxy_ssl_default_server_ciphers }}
{% endif %}
{% if haproxy_ssl_default_server_options is defined %}
    ssl-default-server-options {{ haproxy_ssl_default_server_options }}
{% endif %}

{% if haproxy_strict_limits %}
    # Crash when setrlimits fails
    strict-limits
{% endif %}

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    {{ haproxy_default_mode }}
    log                     {{ haproxy_default_log}}
{% for option in haproxy_options %}
    option                  {{ option }}
{% endfor %}
    retries                 {{ haproxy_retries }}
    timeout http-request    {{ haproxy_timeout_http_request }}
    timeout queue           {{ haproxy_timeout_queue }}
    timeout connect         {{ haproxy_timeout_connect }}
    timeout client          {{ haproxy_timeout_client }}
    timeout server          {{ haproxy_timeout_server }}
    timeout http-keep-alive {{ haproxy_timeout_http_keep_alive }}
    timeout check           {{ haproxy_timeout_check }}
    timeout client-fin      {{ haproxy_timeout_client_fin }}
    timeout server-fin      {{ haproxy_timeout_server_fin }}

frontend haproxy
{% for ip in haproxy_frontend_ips %}
{% for port in haproxy_frontend_ports %}
    bind {{ ip }}:{{ port }} v4v6 transparent
{% endfor %}
{% endfor %}
    default_backend cluster

backend cluster
    mode http
    balance static-rr
{% for ip in haproxy_k8s_node_ips %}
    server worker-{{ loop.index }} {{ ip }}:80 check inter 10s fall 2 maxconn 12000
{% endfor %}
