# https://github.com/terraform-docs/gh-actions
# https://github.com/norwoodj/helm-docs
 
name: Build and push to GHCR
on:
  workflow_call:
    inputs:
      image_name:
        description: "Name of the image to build"
        required: true
        type: string
      context:
        description: "Directory where the image is built, defaults to repository root"
        required: false
        default: "./"
        type: string
 
jobs:
  skip_ci:
    runs-on: ubuntu-latest
    # Map the output to the job's outputs
    outputs:
      canSkip: ${{ steps.check.outputs.canSkip }}
    steps:
      - id: check
        uses: Legorooj/skip-ci@main

  build_and_push_docker_to_ghcr:
    # Wait for the skip_ci job to run
    needs: skip_ci
    # And only run the build if canSkip isn't 'true'.
    if: ${{ needs.skip_ci.outputs.canSkip != 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Docker meta Service Name for docker hub
        id: docker_meta_img
        uses: docker/metadata-action@v5
        with:
          context: git
          images: ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}
          tags: |
            type=match,value={{branch}},pattern=.*\d,suffix=-latest
            type=match,pattern=docops-\d+\.\d+\.\d+

      - name: Create lowercase image ref
        id: lower-repo
        env:
          #image_ref: 'ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}@${{ steps.docker_build_push.outputs.digest }}'
          #image_ref: '${{ github.repository_owner }}/${{ inputs.image_name }}:${{ env.DOCKER_METADATA_OUTPUT_VERSION }}'
          image_ref: '${{ github.repository_owner }}/${{ inputs.image_name }}'
        run: | 
          echo "repository=${image_ref@L}" >> $GITHUB_OUTPUT

      - name: Build and push ${{ github.repository }}
        id: docker_build_push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          platforms: linux/amd64
          load: true
          tags: ${{ steps.docker_meta_img.outputs.tags }}
          labels: ${{ steps.docker_meta_img.outputs.labels }}

      - name: Export Docker image as tar
        run: |
          docker save ghcr.io/${{ steps.lower-repo.outputs.repository }} -o image.tar
          mkdir -p ${{ github.workspace }}/clamavscan
          mv image.tar ${{ github.workspace }}/clamavscan/image.tar

      - name: Run ClamAV scan
        run: |
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest freshclam
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest clamscan /scan/image.tar > ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt

      - name: Upload ClamAV scan results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: clamav-results-${{ matrix.variant }}
          path: clamav-results-${{ matrix.variant }}.txt

      - name: Check ClamAV scan result
        run: |
          if grep -q "/scan/image.tar: OK" ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt; then
            echo "No malware found for variant ${{ matrix.variant }}."
          else
            echo "::warning::Malware detected or scan failed for variant ${{ matrix.variant }}!"
            cat ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt
            exit 1
          fi
          
      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push all scanned image to ghcr.io
        run: |
          echo "${{ steps.docker_meta_img.outputs.tags }}" | grep -v '^$' | while read TAG; do
            docker push "$TAG"
          done
        timeout-minutes: 10

      # GHCR requires the image to be all lowercase, otherwise trivy can't pull the image

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0
        with:
          image-ref: ${{ steps.lower_repo.outputs.repository }}
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"
          exit-code: 1
          ignore-unfixed: true

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@ece8414c725e29de2e18c0859fda9e7280df9488
        with:
          sarif_file: 'trivy-results.sarif'
