# https://github.com/terraform-docs/gh-actions
# https://github.com/norwoodj/helm-docs
 
name: Build and push to GHCR
on:
  workflow_call:
    inputs:
      image_name:
        description: "Name of the image to build"
        required: true
        type: string
      context:
        description: "Directory where the image is built, defaults to repository root"
        required: false
        default: "./"
        type: string
 
jobs:
  skip_ci:
    runs-on: ubuntu-latest
    # Map the output to the job's outputs
    outputs:
      canSkip: ${{ steps.check.outputs.canSkip }}
    steps:
      - id: check
        uses: Legorooj/skip-ci@main

  build_and_push_docker_to_ghcr:
    # Wait for the skip_ci job to run
    needs: skip_ci
    # And only run the build if canSkip isn't 'true'.
    if: ${{ needs.skip_ci.outputs.canSkip != 'true' }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      security-events: write
      actions: read
      contents: read
      
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6

      - name: Log into registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef #v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta Service Name for docker hub
        id: docker_meta_img
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 #v5
        with:
          context: git
          images: ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}
          tags: |
            type=match,value={{branch}},pattern=.*\d,suffix=-latest
            type=match,pattern=docops-\d+\.\d+\.\d+

      - name: Create lowercase image ref
        id: lower-repo
        env:
          repo_ref: 'ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}:${{ env.DOCKER_METADATA_OUTPUT_VERSION }}'
          image_ref: 'ghcr.io/${{ github.repository_owner }}/${{ inputs.image_name }}'
        run: | 
          echo "repository=${repo_ref@L}" >> $GITHUB_OUTPUT
          echo "image=${image_ref@L}" >> $GITHUB_OUTPUT

      - name: Build ${{ github.repository }} (without push)
        id: docker_build_push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 #v6
        with:
          context: ${{ inputs.context }}
          platforms: linux/amd64
          load: true
          tags: ${{ steps.docker_meta_img.outputs.tags }}
          labels: ${{ steps.docker_meta_img.outputs.labels }}

      - name: Export Docker image as tar
        run: |
          mkdir -p ${{ github.workspace }}/clamavscan/container_fs
          chmod -R 777 ${{ github.workspace }}/clamavscan
          docker create --name temp_scan_container ${{ steps.lower-repo.outputs.image }}
          docker export temp_scan_container -o ${{ github.workspace }}/clamavscan/container_fs.tar
          tar -xf ${{ github.workspace }}/clamavscan/container_fs.tar -C ${{ github.workspace }}/clamavscan/container_fs
          docker rm temp_scan_container
          rm -rf ${{ github.workspace }}/clamavscan/container_fs.tar

      - name: Run ClamAV scan
        run: |
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest freshclam --datadir=/scan
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest clamscan /scan/container_fs -d /scan -r > ${{ github.workspace }}/clamav-results.txt

      - name: Upload ClamAV scan results
        if: ${{ always() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4
        with:
          name: clamav-results
          path: clamav-results.txt

      - name: Check ClamAV scan result
        run: |
          if grep -q "Infected files: 0" ${{ github.workspace }}/clamav-results.txt; then
            echo "No malware found."
          else
            echo "::warning::Malware detected!"
            cat ${{ github.workspace }}/clamav-results.txt
            exit 1
          fi
          
      - name: Push all scanned image to ghcr.io
        run: |
          echo "${{ steps.docker_meta_img.outputs.tags }}" | grep -v '^$' | while read TAG; do
            docker push "$TAG"
          done
        timeout-minutes: 10

      # GHCR requires the image to be all lowercase, otherwise trivy can't pull the image

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 #0.33.1
        with:
          image-ref: ${{ steps.lower-repo.outputs.repository }}
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"
          exit-code: 1
          ignore-unfixed: true

      - name: Upload Trivy scan results to GitHub Security tab
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 #v4
        with:
          sarif_file: 'trivy-results.sarif'
