---
name: Trivy Image Vulnerability Scan Job
on:
  workflow_call:
    inputs:
      image-ref:
        description: "repository image reference"
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read
    steps:
      - name: Run Trivy vulnerability scanner
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        # Breaking API Aqua Security Trivy Action 0.8.0
        uses: aquasecurity/trivy-action@9ab158e8597f3b310480b9a69402b419bc03dbd5
        with:
          image-ref: ${{ inputs.image-ref }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          # exit-code: 1
          ignore-unfixed: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@ece8414c725e29de2e18c0859fda9e7280df9488
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
